*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
    font-size: 18px;
    background-color: #1C1B21;
}

body._lock {
    overflow: hidden;
}

.section {
    position: relative;
    z-index: 5;
}

.container {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

form,
input,
button {
    background-color: inherit;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 5.5555rem;
    line-height: 150px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #FFFFFF;
}

h2 {
    font-size: 2.6666rem;
    line-height: 72px;
}

p {
    font-weight: 600;
    font-size: 1rem;
    line-height: 27px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*---------------------------------header-------------------------------------*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 2;
}

.header_body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
    padding: 0 50px;
}

.header_logo {
    flex: 0 0 225px;
    position: relative;
    z-index: 3;
}

.menu_burger {
    display: none;
}

.menu_navbar {
}

.navbar_list {
    display: flex;
    position: relative;
    z-index: 2;

}

.navbar_list li:not(:last-child) {
    padding-right: 55px;

}

.navbar_item a {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 27px;
    color: #FFFFFF;
    transition: color 0.3s ease 0s;
}

.navbar_item a:hover {
    color: #7865c2;
    text-decoration: 2px underline;
    text-decoration-color: #FFFFFF;

}

@media (max-width: 992px) {
    .header_body {
        height: 90px;
        padding: 0 35px;
    }

    .menu_burger {
        display: block;
        position: relative;
        width: 40px;
        height: 30px;
        z-index: 3;
    }

    .menu_burger span,
    .menu_burger::before,
    .menu_burger::after {
        left: 0;
        width: 40px;
        height: 2px;
        position: absolute;
        background-color: #ffffff;
        transition: all 0.3s ease 0s;
    }

    .menu_burger::before,
    .menu_burger::after {
        content: '';
    }

    .menu_burger::before {
        top: 0;
    }

    .menu_burger::after {
        bottom: 0;
    }

    .menu_burger span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu_burger._activ span {
        transform: scale(0) translate(0px, -50%);
    }

    .menu_burger._activ::before {
        top: 50%;
        transform: rotate(45deg) translate(0, -50%);
    }

    .menu_burger._activ::after {
        bottom: 50%;
        transform: rotate(-45deg) translate(0, 50%);
    }

    .menu_navbar {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #1c1b21cf;
        padding: 140px 0 0 55px;
        overflow: auto;
        transition: left 0.3s ease 0s;
    }

    .header_body::before {
        content: '';
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 90px;
        background-color: #7A66CC;
        z-index: 1;
        transition: left 0.3s ease 0s;
    }

    .header_body._activ::before {
        left: 0;
    }

    .menu_navbar._activ {
        left: 0;
    }

    .navbar_list {
        display: block;
        margin-bottom: 50px;
    }

    .navbar_list li {
        padding-bottom: 40px;
        font-size: 1.2rem;
    }
}


/*---------------------------------section-1-------------------------------------*/
.section-1::before {
    pointer-events: none;
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(58%, rgba(255, 255, 255, 0)), color-stop(92.19%, #1c1b21));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 58%, #1c1b21 92.19%);
}

.bg_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.content_sect_1 {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    z-index: 1;
}

.content_sect_1 h2 {
    margin-top: 200px;
}

.controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.controls :not(:last-child) {
    margin-right: 45px;
}

@media (max-width: 1140px) {
    .controls > *:not(:last-child) {
        margin-right: calc(14px + 31 * ((100vw - 320px) / 820));
    }
}

.controls_play {
    width: 22px;
    height: 25px;
    cursor: pointer;
    border-style: solid;
    border-width: 12.5px 0 12.5px 22px;
    border-color: transparent transparent transparent #ffffff;
}

.controls_play._pause {
    border-style: double;
    border-width: 0 0 0 15px;
}


.controls_progress {
    flex: 1 1 auto;
    height: 2px;
    background-color: #fff;
    display: flex;
}

.controls_progress input {
    cursor: pointer;
    width: 100%;
    -webkit-appearance: none;
    height: 2px;
    background: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7a66cc), to(#7a66cc));
    background-image: linear-gradient(#7a66cc, #7a66cc);
    background-size: 0 100%;
    background-repeat: no-repeat;
}

.controls_progress input._thumb::-webkit-slider-thumb {
    height: 20px;
}

.controls_progress input._thumb::-moz-range-thumb {
    height: 20px;
}

.controls_progress input._thumb::-ms-thumb {
    height: 20px;
}

.controls_progress input::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.controls_progress input::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.controls_progress input::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.controls_progress input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 0;
    width: 2px;
    background: #7a66cc;
    cursor: ew-resize;
    -webkit-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

.controls_progress input::-moz-range-thumb {
    -webkit-appearance: none;
    height: 0;
    width: 2px;
    background: #7a66cc;
    cursor: ew-resize;
    -webkit-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    border: none;
}

.controls_progress input::-ms-thumb {
    -webkit-appearance: none;
    height: 0;
    width: 2px;
    background: #7a66cc;
    cursor: ew-resize;
    -webkit-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

.controls_timer {
    min-width: 115px;
    text-align-last: right;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
}

/*---------------------------------section-2-------------------------------------*/

.section-2 {
    padding-top: 130px;
}

.content_news {
    display: flex;
    top: 0;
    left: 0;
    flex: 1 1 100%;
    max-width: 100%;
    justify-content: space-around;
}

.news_item {
    margin: 15px;
    position: relative;

}

.news_item_image {
    position: relative;
}

.news_item_image img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0;
}

.news_item_text {
    position: absolute;
    bottom: 7px;
    left: 0;
    width: 100%;
    min-height: 28%;
    background: #7A66CC;
    opacity: 0.7;
    border-radius: 20px 0;
    padding: 20px;
}

.news_item_text a {
    font-weight: 500;
    font-size: 0.8888rem;
    line-height: 150%;
    color: #FFFFFF;
}

.news_item_text:hover {
    background-color: rgba(90, 73, 156, 0.78);
}

@media (max-width: 768px) {
    .content_news {
        flex-wrap: wrap;
    }

    .news_item_text {
        padding: 10px;
    }

    .news_item_text a {
        font-weight: 500;
        font-size: 0.6rem;
        line-height: 150%;
    }
}

/*---------------------------------section-3-------------------------------------*/
.section-3 {
    padding-top: 180px;
}

.content_about {
    display: flex;
    position: relative;
    align-items: center;
}

.col_about {
    flex: 0 0 50%;
    max-width: 50%;
}

.inform_about p {
    font-weight: 400;
    font-size: 0.8888rem;
    opacity: 0.7;
    padding: 60px 0;
}

.title_about {
    display: flex;
    align-items: baseline;
}

.equalizer {
    margin-right: 30px;
}

.about_list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 30px;
}

.about_li {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    padding: 0 0 0 50px;
    position: relative;
    min-height: 30px;
    min-width: 250px;
}

.about_li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: #7a66cc;
    border-radius: 10px 0;
}

.foto_about img {
    float: right;
}

@media (max-width: 768px) {
    .section-3 {
        padding-top: 80px;
    }

    .content_about {
        flex-wrap: wrap;
    }

    .title_about {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .col_about {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .about_list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about_list li {
        padding-bottom: 30px;
    }

    .inform_about {
        padding: 30px;
    }

    .foto_about {
        display: flex;
        justify-content: center;
        padding-top: 50px;

    }

}

@media (max-width: 425px) {
    .title_about h2 {
        font-size: 1.8rem;
    }
}

/*---------------------------------section-4-------------------------------------*/

.section-4 {
    padding-top: 150px;
}

.body_sect-4 {
    display: flex;
    align-items: center;
    max-height: 315px;
    border: 1px solid #FFFFFF;
    border-radius: 30px 0;
}

.col_quotes {
    flex: 0 0 50%;
    max-width: 50%;
}

.content_quotes {
    padding-left: 80px;
}

.content_quotes a {
    font-weight: 700;
    font-size: 1rem;
    line-height: 27px;
    color: #7A66CC;
    transition: color 0.3s ease 0s;
}

.content_quotes a:hover {
    color: #FFFFFF;
}

.text_quotes {
    position: relative;
    font-weight: 400;
    padding-bottom: 25px;
}

.content_quotes hr {
    position: revert;
    max-width: 100%;
    opacity: 0.6;
    border: 1px solid #FFFFFF;
    margin-bottom: 25px;
}

.text_quotes span {
    position: absolute;
    left: 0;
}

.image_quotes {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .content_quotes {
        padding: 30px;
    }

    .content_quotes hr {
        margin-bottom: 12px;
    }

    .text_quotes {
        padding-bottom: 12px;
    }

    .image_quotes {
        padding: 60px;
    }
}

@media (max-width: 500px) {
    .body_sect-4 {
        display: flex;
        flex-wrap: wrap;
        max-height: 100%;
    }

    .col_quotes {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .image_quotes {
        padding: 0 30px 30px;
    }
}

/*---------------------------------section-4-------------------------------------*/

.section-5 {
    padding-top: 180px;
}

.content_audio_player {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 991.98px) {
    .content_audio_player {
        flex-direction: column-reverse;
    }
}

.img_audio_player {
    margin: 36px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 510px;
    min-height: 510px;
    border-radius: 50%;
    border: 18px solid rgba(122, 102, 204, 0.3);
    position: relative;
    padding: 16px;
}

.img_audio_player img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.img_audio_player:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 18px solid #7a66cc;
    transform: translate(-50%, -50%);
}

@media (max-width: 991.98px) {
    .img_audio_player {
        margin: -340px 0 0 auto;
        opacity: 0.7;
        min-width: 45.94595%;
        min-height: 45.94595%;
    }
}

@media (max-width: 479.98px) {
    .img_audio_player {
        margin: 0;
        position: absolute;
        min-width: 25.67568%;
        min-height: 25.67568%;
        top: 30%;
        left: 0;
    }
}

.audio_player_content {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 48.64865%;
    flex: 0 1 48.64865%;
}

@media (max-width: 991.98px) {
    .audio_player_content {
        width: 100%;
    }
}

.equalizer_title {
    display: flex;
    align-items: baseline;
    padding-bottom: 60px;
}

.equalizer_title img {
    margin-right: 30px;
}

@media (max-width: 425px) {
    .section-5 {
        padding-top: 50px;
    }

    .equalizer_title {
        align-items: center;
        padding-bottom: 20px;
        text-align: center;
    }

    .equalizer_title h2 {
        font-size: 2rem;
    }
}

.controls_audio_player {
    padding-bottom: 50px;
}

.tracks_player {
    opacity: 0;
    visibility: hidden;
}

.tracks_list {
    list-style-type: none;
    counter-reset: item;
}

.tracks_list:not(:last-child) {
    margin-bottom: 50px;
}

@media (max-width: 1140px) {
    .tracks_list:not(:last-child) {
        margin-bottom: calc(25px + 25 * ((100vw - 320px) / 820));
    }
}

.tracks_li {
    padding-left: 40px;
    position: relative;
}

@media (max-width: 1140px) {
    .tracks_li {
        padding-left: calc(25px + 15 * ((100vw - 320px) / 820));
    }
}

.tracks_li:not(:last-child) {
    margin-bottom: 20px;
}

.tracks_li:before {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    margin-right: 15px;
    position: absolute;
    left: 0;
    top: 4px;
}

.tracks_li:nth-child(-n + 9)::before {
    content: "0" counter(item);
    counter-increment: item;
}

.tracks_li:nth-child(n + 10)::before {
    content: counter(item);
    counter-increment: item;
}

.audio_track {
    cursor: pointer;
    font-size: 18px;
    line-height: 150%;
    -webkit-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
}

.audio_track._active {
    color: #7a66cc;
}

@media (any-hover: hover) {
    .audio_track:hover {
        color: #7a66cc;
    }
}

@media (max-width: 479.98px) {
    .audio_track {
        font-size: 16px;
    }
}

.audio_player_subscribe {
    display: flex;
}

.subscribe_text {
    padding-right: 40px;
}

.subscribe_link {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    transition: color 0.3s ease 0s;
}

.subscribe_link:not(:last-child) {
    padding-right: 30px;
}

.subscribe_link:hover {
    color: #7a66cc;
}

@media (max-width: 479.98px) {
    .subscribe_text {
        padding-right: 10px;
    }

    .subscribe_link:not(:last-child) {
        padding-right: 10px;
    }
}

/*---------------------------------section-6-------------------------------------*/

.section-6{
    padding-top: 180px;
}
.content_tours{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row_tours {
    display: flex;
    justify-content: space-around;
}

._flash_of_light {
    filter: brightness(60%);
    transition-duration: 0.3s;
}

._flash_of_light:hover {
    filter: brightness(100%);
}

._high{
    flex: 0 0 25%;
    max-width: 25%;
}

._long{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 5px;
}

.upper_block{
    display: flex;
}

.tours_padding{
    padding: 15px;
}

.upper_img{
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower_block {
    position: relative;
}

.lower_block a{
    position: absolute;
    top: 40%;
    left: 15%;
    right: 15%;
    font-weight: 700;
    font-size: 1.3333rem;
    line-height: 36px;
    text-align: center;
    color: #7A66CC;
    transition: color 0.3s ease 0s;

}

.lower_block a:hover{
    color: rgb(233, 242, 252);
}

@media (max-width: 425px) {
    .lower_block a{
        top: 25%;
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .section-6{
        padding-top: 80px;
    }
    .content_tours{
        flex-wrap: wrap;
    }
    ._long{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
        order: -1;
    }
    ._high{
        flex: 0 0 50%;
        max-width: 50%;
        order: 0;
    }
}

.section-7{
    margin-bottom: 200px;
}

.slider{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.arrow{
    width: 40px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFFFFF;
    border-radius: 10px 0;
}
.arrow-left{
    margin-right: 10px;
}
.arrow-right{
    margin-left: 10px;
}
.item-card{
    position: relative;
    width: 350px;
    height: 470px;
    margin: 15px;
    background: #2F2B2B;
    border-radius: 30px 0;
}
.item-card-img{
    top: 0;
    left: 0;
}
.card-club{
    font-size: 1rem;
    line-height: 27px;
    color: #FFFFFF;
    opacity: 0.5;
}
.card-text{
    font-weight: 500;
    font-size: 1rem;
    line-height: 27px;
    color: #FFFFFF;
}
.card-bottom{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
}
.card-date{
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 0.5;
    padding-right: 20px;

}
.button-ticket{
    width: 180px;
    height: 60px;
    background: #7A66CC;
    border-radius: 30px 0;
}
.ticket{
    text-align: center;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 18px;
}
.card-content-margin{
    padding: 20px 0 0 35px;
}



